 <div class="user-details">
  <h1> A propos de moi </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Depuis maintenant plusieurs années j'utilise ces différentes technologies qui sont les bases fondamentales du web modernes et qui permettent de créer facilement des interfaces : HTML - SCSS/CSS - Bootstrap  </p>
    </div>
    <div class="tech">
      <h2>Front-end</h2>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <p>Découvert en entreprise, j'ai étudié les concepts et les paradigmes du framework React. En utilisant en parallèle le langage TypeScript, j’ai pu monter en compétence sur un framework JS nouvelle génération. </p>
    </div>
    <div class="tech">
      <h2>Back-end</h2>
      <i class="devicon-csharp-plain"></i>
      <i class="devicon-dot-net-plain-wordmark colored"></i>
      <p>Le back-end est ma stack technique de prédilection, à travers mes différentes expériences scolaires et professionnelles, j'ai pu approfondir mes connaissances en C#/.Net & Sql Server à travers le développement de microservices (dans Azure Service Fabric). </p>
    </div>
    <div class="tech">
      <h2>DevOps et Tools </h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <p>Dans un objectif de déploiement continu, j’ai travaillé sur des pipelines de CI/CD dans Azure DevOps pour gérer le cycle de vie des microservices jusqu’à à la mise en production et leur monitoring.  [Gestion des logs via Elastic Search]. J’ai eu l’occasion de découvrir des outils tel que Gulp, Webpack, tout en approfondissant mes connaissances sur GIT. </p>
    </div>
    
</div>
