 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Front-end</h2>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <img  width="60" height="60" src=" https://upload.wikimedia.org/wikipedia/commons/4/43/White_square_50%25_transparency.svg">     
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Back-end</h2>
      <i class="devicon-csharp-plain"></i>
      <i class="devicon-dot-net-plain-wordmark colored"></i>
      <img  width="60" height="60" src="https://cdn.worldvectorlogo.com/logos/microsoft-sql-server.svg">
      <img  width="100" height="60" src="https://gxcuf89792.i.lithium.com/t5/image/serverpage/image-id/12292i1B088817EC97E65D/image-size/large?v=1.0&px=999">
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <img  width="60" height="60" src="https://cdn.worldvectorlogo.com/logos/npm.svg">
      <img  width="60" height="60" src="https://cdn.worldvectorlogo.com/logos/scrumorg-1.svg">
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
