<div class="user-details">
  <h1> Projets </h1>
  <p>Quelques un de mes projets...</p>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Digger" src="{{ "/assets/img/digger.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Digger</h3>
    <p>Tehnologies</p>
    <ul>
      <li>C# / ASP.NET Core / Bash</li>
      <li>Dgraph - SQL </li>
      <li>Vue.js - D3.js</li>
    </ul>
    <p>Digger est un projet permettant de tracker et centraliser les données publiques que nous pouvons laisser derrière nous sur le web. A l’aide de différents outils intégrés vous allez pouvoir consulter toutes les traces que vous avez pu égarer sur votre chemin.
      Bien souvent compliqué à mettre en place, notre interface permettra à l’utilisateur final de faciliter l’installation de la multitude de logiciels d’OSINT. 
      </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ICAR.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>ICAR</h3>
    <p>Tehnologies</p>
    <ul>
      <li>C# / ASP.NET Core / Python / Java</li>
      <li>SQL </li>
    </ul>
    <p>ICAR est un proof of concept, visant à montrer la possiblité pour un robot, de se déplacer de manière autonome en intérieur, et se localisant simplement avec des photos du plafond. Pour cela, le robot effectuait un SLAM et avec de l'analyse poussée d'image, il pouvait faire une cartographie à l'aide des images du plafond.</p>
  </div>
</div>

</div>