    <section class="site-section block__62272" id="projects-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 position-relative">
                    <h2 class="section-title text-center mb-5">Réalisations</h2>
                </div>
            </div>
            <div class="row justify-content-center mb-5" data-aos="fade">
                <div id="projectFilters" class="filters text-center button-group col-md-7">
                    <button class="btn btn-primary active" data-filter="*">Tout</button>
                    <button class="btn btn-primary" data-filter=".it">Informatique</button>
                    <button class="btn btn-primary" data-filter=".human">Formation Humaine</button>
                    <button class="btn btn-primary" id="filterShareNStream" data-filter=".shareNStreamProject"
                            hidden></button>
                    <button class="btn btn-primary" id="filterTrumpTower" data-filter=".trumpTowerProject"
                            hidden></button>
                    <button class="btn btn-primary" id="filterDigger" data-filter=".diggerProject"
                            hidden></button>
                    <button class="btn btn-primary" id="filterCosium" data-filter=".cosiumProject"
                            hidden></button>
                    <button class="btn btn-primary" id="filterIcar" data-filter=".icarProject"
                            hidden></button>
                </div>
            </div>

            <div id="projects" class="row no-gutter">
                <div class="item it trumpTowerProject col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
                    <div class="text-center">
                        <h3 class="text-center title">
                            Trump Tower
                        </h3>
                    </div>
                    <a href="../assets/img/trumptower.png" class="item-wrap" data-toggle="modal"
                       data-target=".trumptower">
                        <span class="icon-search2"></span>
                        <img class="img-fluid" alt="trumptower" src="../assets/img/trumptower.png" style="width: 250px; height: 250px;">
                    </a>
                    <div class="modal fade trumptower" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="container">
                                        <div class="row">
                                            <h2 class="modal-title text-primary"><u>Trump Tower</u></h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="row">
                                            Developpeur
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body modal-text">
                                    <h4 class="modal-text-title">MAKE TOWER DEFENSE GREAT AGAIN</h4>
                                    <p>
                                        Trump Tower est un tower défense fun et déjanté au design rétro, vous devez
                                        protéger la Trump Tower qui est attaquée par les nord coréens.
                                    </p>
                                    <p>
                                        Pour cela, vous aurez à disposition tout un arsenal spécialement créé pour
                                        neutraliser l’armée
                                        de Little Rocket Man. Tourelles, casernes, missiles et tweets en tout genre
                                        n’attendent que vous dans ce tower defense qui réinvente le style !
                                    </p>
                                    <h5 class="modal-text-title">Mission</h5>
                                    <p>
                                        Développer un jeu vidéo de type Tower Defense. Le joueur doit protéger sa base,
                                        qui est
                                        attaquée par des ennemis qui suivent un itinéraire précis. Il pourra s’aider de
                                        structures (tourelles,
                                        obstacles) qu’il pourra positionner le long du chemin afin de neutraliser les
                                        ennemis. A chaque
                                        nouvelle vague les ennemis deviennent plus puissants, c’est pourquoi le joueur
                                        pourra acheter de
                                        nouvelles structures et améliorer les siennes.
                                    </p>
                                    <h5 class="modal-text-title">Objectifs</h5>
                                    <ul>
                                        <li>
                                            Pour le 27 Octobre 2017 : Définir le gameplay et le game design du jeu et
                                            spécifier notre organisation de travail ainsi que se familiariser avec
                                            <a href="https://www.monogame.net/" target="_blank">Monogame.</a>
                                        </li>
                                        <li>
                                            Pour le 21 Novembre 2017 : Développer un prototype de jeu simple où le
                                            joueur peut poser une structure,
                                            où des vagues d’ennemis apparaissent et se déplacent sur la route. Les
                                            structures attaqueront les
                                            unités ennemies.
                                        </li>
                                        <li>
                                            Pour le 20 décembre 2017 : Développer un éditeur de maps qui permettra de
                                            créer des maps jouables.
                                            Définir un point d’apparition des ennemis et leur cheminement jusqu’à notre
                                            base. Définir les
                                            apparitions des unités alliées et leurs interactions avec les unités
                                            ennemies.
                                        </li>
                                        <li>
                                            Pour le 26 janvier 2018 : Développer plusieurs niveaux de difficulté. Créer
                                            les
                                            évènements spéciaux pour rendre le jeu plus interactif, ajout d’unités
                                            spéciales, mécaniques de
                                            pièges, campagne scénarisée. Importer / exporter maps, ressources
                                            graphiques.
                                        </li>
                                    </ul>
                                    <h5 class="modal-text-title">Ma contribution au sein du projet</h5>
                                    <ul>
                                        <li>Developpement de l'écosystème des tourelles</li>
                                        <li>Developpement du site internet</li>
                                        <li>Gestion du partage de Map</li>
                                    </ul>
                                    <div class="text-center" style="margin: 30px 0">
                                        <h5 class="modal-text-title">Une vidéo vaut mieux que mille mots</h5>
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe width="560" height="315"
                                                    src="https://www.youtube-nocookie.com/embed/a1s_f0qSQP8"
                                                    title="YouTube video player" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <h5 class="text-center modal-text-title">Découvrez les compétences
                                                utilisées</h5>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-auto">
                                                <button class="btn btn-primary"
                                                        onclick="toggleSkill('filterCommunication')"
                                                        data-dismiss="modal" data-toggle="modal"
                                                        data-target=".communication">
                                                    Communication
                                                </button>
                                            </div>

                                            <div class="col-auto">
                                                <button class="btn btn-primary"
                                                        onclick="toggleSkill('filterAutonomy')"
                                                        data-dismiss="modal" data-toggle="modal"
                                                        data-target=".autonomy">
                                                    Autonomie
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item human shareNStreamProject col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
                    <h3 class="text-center title">
                        Share'n Stream
                    </h3>
                    <a href="../assets/img/sharenstream.png" class="item-wrap" data-toggle="modal"
                       data-target=".sharenstream">
                        <span class="icon-search2"></span>
                        <img class="img-fluid" alt="sharenstream" src="../assets/img/sharenstream.png" style="width: 250px; height: 250px;">
                    </a>
                    <div class="modal fade sharenstream" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title text-primary"><u>Share'n Stream</u></h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body modal-text">
                                    <h4 class="modal-text-title">PLAY FOR WISHES</h4>
                                    <p>Share’n stream est un projet qui consiste à faire une récolte de don pour
                                        l'association Make A Wish via le streaming. Pour cela, nous allons faire un
                                        partenariat avec des streamers du monde du jeu vidéo. L'événement sera diffusé
                                        sur la plateforme Twitch, êtes vous prêt pour un stream unique ?</p>
                                    <h5 class="modal-text-title">Mission</h5>
                                    <p>Démarcher les professionnels du jeux-vidéo afin d'organiser une journée de
                                        “livestream” dont les fonds récoltés seront reversés à une association
                                        caritative.</p>
                                    <h5 class="modal-text-title">Les préparatifs</h5>
                                    <p><b>Nous sommes en 2017</b>, le projet Share'n Stream est né suite à une
                                        discussion entre
                                        mes partenaires de projet, nous voulions communiquer par le biais des nouvelles
                                        technologies jusqu'à ici très peu exploité par les medias traditionnelles. En
                                        effet nous voulions passer par twitch et organiser une récolte de dons
                                        caritative durant une soirée.</p>
                                    <p>Sauf que pour effectuer une récolte de dons il fallait commencer par le début,
                                        c'est-à-dire trouver une association caritative afin de lui reverser
                                        l'intégralité des dons. Après beaucoup de recherches et de rendez-vous, nous
                                        nous sommes associés à "Make a Wish", une association qui réalise le rêve des
                                        enfants gravement malade.</p>
                                    <div class="text-center">
                                        <img class="img-fluid" src="../assets/img/digger.png">
                                    </div>
                                    <p>De plus pour atteindre un public sur twitch il nous
                                        fallait une communauté et c'est pour cela que nous nous sommes tourné vers une
                                        structure déjà en place composé de beaucoup de streamer très influent, la Stream
                                        Team.</p>
                                    <h5 class="modal-text-title">La communication</h5>
                                    <p>Les bases du projet sont en place, il faut maintenant créer de l'engouement
                                        auprès des spectateurs, pour ce faire une vidéo de promotion est réalisé à
                                        Marseille et vélodrome en compagnie de la Stream Team et d'enfants de Make a
                                        Wish qui avaient pour rêve de rencontrer leurs streamers préférés.</p>
                                    <div class="text-center" style="margin: 30px 0">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/5mFkIyZBC_s"
                                                    title="YouTube video player" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <h5 class="modal-text-title">Le jour J</h5>
                                    <p><b>27 Juillet 2017</b>, le stream est lancé et tous les viewers se sentent
                                        touchés par
                                        la cause, une multitude de dons s'enchainent en plein direct. Que ce soit le
                                        Stream Team, les membres de mon équipe et moi-meme personne ne réalise ce qui
                                        se passe. Des sub-goals (pallier de don à atteindre) sont mis en place afin
                                        d'encourager les dons.</p>
                                    <p><b>4 heures plus tard</b>, il est l'heure de clôturer le stream et de
                                        comptabiliser tous
                                        les dons qui auront été fait pour l'association Make a Wish. Beaucoup d'efforts
                                        auront été fait pendant cette soirée et plus de <b>32500€</b> de recolté pour
                                        l'association. Cela dépasse totalement nos attentes car nous nous etions fixé
                                        1000€ de dons maximum.</p>
                                    <p>4 ans plus tard, l'association de ces deux mondes perdure, en effet en octobre
                                        2020, Zerator un streamer multi-gaming a rassemblé une cinquantaine de streamer
                                        et a su récolter 5.7 millions d'euros pour l'association Amnesty
                                        International</p>
                                    <div class="text-center" style="margin: 30px 0">
                                        <img class="img-fluid" src="../assets/img/digger.png">
                                    </div>
                                    <h5 class="modal-text-title">Difficultés rencontrées</h5>
                                    <ul>
                                        <li>Contacter l'association</li>
                                        <li>Convaincre la Stream Team de participer à l'evenement</li>
                                        <li>Peu de temps de monter un projet aussi gros en seulement 6 mois</li>
                                    </ul>
                                    <h5 class="modal-text-title">Mon retour personnel</h5>
                                    <p>Je suis vraiment satisfait d’avoir participé au projet Share’n Stream car ce fut
                                        un projet vraiment ambitieux. Mon travail au début consistait à faire des
                                        recherches diverses sur le monde du streaming, ou encore de trouver des
                                        informations vis-à-vis de l’association cible pour ensuite les mettre sous
                                        écris, j’ai également aidé à la réalisation des rapports écrits que nous devions
                                        fournir à notre suiveur.</p>
                                    <p>Pour résumer le projet Share’n Stream m’a apporté beaucoup de confiance en moi et
                                        le moment qui m’a le plus plu dans le projet est bien évidement la journée de
                                        Stream du 27 juin ou l’on a tous pu voir le résultat final de tous nos
                                        efforts.</p>
                                </div>
                                <div class="modal-footer">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <h5 class="text-center modal-text-title">Découvrez les compétences
                                                utilisées</h5>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-auto">
                                                <button class="btn btn-primary"
                                                        onclick="toggleSkill('filterCommunication')"
                                                        data-dismiss="modal" data-toggle="modal"
                                                        data-target=".communication">
                                                    Communication
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item it icarProject col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
                    <h3 class="text-center title">
                        Icar
                    </h3>
                    <a href="../assets/img/ICAR.png" class="item-wrap" data-toggle="modal"
                       data-target=".icar">
                        <span class="icon-search2"></span>
                        <img class="img-fluid" alt="icar" src="../assets/img/ICAR.png"style="width: 250px; height: 250px;">
                    </a>
                    <div class="modal fade icar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="container">
                                        <div class="row">
                                            <h2 class="modal-title text-primary"><u>Icar</u></h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="row">
                                            Chef de projet
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body modal-text">
                                    <h4 class="modal-text-title">
                                        ICAR Essai No.#42 : cette fois c'est la bonne !
                                    </h4>
                                    <p>ICAR est un robot semi-automatique, qui se deplace de façon autonome d'un point A
                                        jusqu'à un point B. Avec son application mobile vous allez pouvoir lui faire
                                        apprendre les lieux puis dans un second temps, vous aurez la possibilité de la
                                        faire naviguer dans cette zone à votre guise.</p>
                                    <h5 class="modal-text-title">Mission</h5>
                                    <p>Réaliser un Proof of Concept montrant la capacité d’un robot à se localiser en
                                        intérieur grâce à des photos du plafond avec le moins de moyens possible et en
                                        C#</p>
                                    <h5 class="modal-text-title">
                                        Qu’est-ce qu’un SLAM ?
                                    </h5>
                                    <p>
                                        Simultaneous Localisation And Mapping
                                    </p>
                                    <p>Le SLAM désigne l'ensemble des algorithmes offrant à un véhicule mobile robotisé
                                        la possibilité de cartographier un terrain inconnu tout en assurant sa propre
                                        localisation simultanément.</p>
                                    <h5 class="modal-text-title">Ma contribution au sein du projet</h5>
                                    <ul>
                                        <li>Attribution de tâches</li>
                                        <li>Priorisation des tâches</li>
                                        <li>Developpement de l'application mobile en Java</li>
                                    </ul>
                                    <h5 class="modal-text-title">
                                        Le robot
                                    </h5>
                                    <p>Voici le robot ICAR controllé par une Raspberry model 3b et un galaxy s6 faisant
                                        office de module caméra.</p>
                                    <div class="text-center">
                                        <img class="img-fluid" src="../assets/img/digger.png">
                                    </div>
                                    <h5 class="modal-text-title">
                                        Un projet aux multiples défis technique
                                    </h5>
                                    <ul>
                                        <li>
                                            C’est un proof of concept : il n'existe pas d’équivalent disponible afin de
                                            s'en inspirer.
                                        </li>
                                        <li>
                                            Longue période d’apprentissage : raspberry, robotique , traitement d’image.
                                        </li>
                                        <li>
                                            Gérer l’incertitude : glissement, frottement, mauvais parallélisme des
                                            roues…
                                        </li>
                                    </ul>
                                    <div class="text-center" style="margin: 30px 0">
                                        <h5 class="modal-text-title">
                                            Le robot en action
                                        </h5>
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/HXQ99_MfFE4"
                                                    title="YouTube video player" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <h5 class="text-center modal-text-title">Découvrez les compétences
                                                utilisées</h5>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-auto">
                                                <button class="btn btn-primary"
                                                        onclick="toggleSkill('filterCommunication')"
                                                        data-dismiss="modal" data-toggle="modal"
                                                        data-target=".communication">
                                                    Communication
                                                </button>
                                            </div>

                                            <div class="col-auto">
                                                <button class="btn btn-primary"
                                                        onclick="toggleSkill('filterAutonomy')"
                                                        data-dismiss="modal" data-toggle="modal"
                                                        data-target=".autonomy">
                                                    Autonomie
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item it diggerProject col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
                    <h3 class="text-center title">
                        Digger
                    </h3>
                    <a href="../assets/img/digger.png" class="item-wrap" data-toggle="modal" data-target=".digger">
                        <span class="icon-search2"></span>
                        <img class="img-fluid" alt="digger" src="../assets/img/digger.png" style="width: 250px; height: 250px;">
                    </a>
                    <div class="modal fade digger" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="container">
                                        <div class="row">
                                            <h2 class="modal-title text-primary"><u>Digger</u></h2>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="row">Developpeur</div>
                                        <div class="row"><h6>Projet issu d'une demande client</h6></div>
                                    </div>
                                </div>
                                <div class="modal-body modal-text">
                                    <h4 class="modal-text-title">DIG UP THE WEB !</h4>
                                    <p>Digger est un projet permettant de tracker et centraliser les données publiques
                                        que nous pouvons laisser derrière nous sur le web. A l’aide de différents outils
                                        intégrés vous allez pouvoir consulter toutes les traces que vous avez pu égarer
                                        sur votre chemin.</p>
                                    <h5 class="modal-text-title">Demande client</h5>
                                    <ul>
                                        <li>Interface utilisateur simple et ergonomique</li>
                                        <li>Software léger</li>
                                        <li>Diagramme des relations de la personne recherchée</li>
                                    </ul>
                                    <h5 class="modal-text-title">Mission</h5>
                                    <p>Suite à une demande client, nous avons du créer un software permettant de
                                        récolter des données sur internet et en faire un
                                        pré-tri dans une démarche OSINT.
                                    </p>
                                    <h5 class="modal-text-title">Qu'est ce que l'OSINT ?</h5>
                                    <ul>
                                        <li>Acronyme D’Open Source Intelligence, renseignement d’origine source ouverte
                                            (ROSO) en francais
                                        </li>
                                        <li>Collecte et analyse de données venant de sources publiques à des fins de
                                            renseignement
                                        </li>
                                        <li>Utilisation dans divers secteurs, tel que le renseignement, le secteur
                                            militaire ou encore dans le domaine de l'intelligence économique
                                        </li>
                                    </ul>
                                    <h5 class="modal-text-title">Digger une réussite ?</h5>
                                    <p>Avec son interface user-friendly et sa facilité d'utilisation, Digger apporte
                                        également la possibilité du travail collaboratif par la création de projet
                                        d'études.</p>
                                    <p>Une évolution sans limite est également permise avec l'ajout de logiciels
                                        tiers d'OSINT dans l'application, Digger est donc toujours à jour sur les
                                        multiples
                                        méthodes de recherche.</p>
                                    <p>Toutes les données sont stockés dans une base de données orienté graph afin de
                                        gagner en performances. Le traitement des données est effectué par le serveur et
                                        comme demandé par notre client, les résultats sont affichés par points-clés liés
                                        par des relations.
                                        Suite à une première recherche, une seconde peut être effectuée à partir
                                        d'un point-clé afin d'alimenter le graph final.</p>
                                    <p>Durant notre recette, nous avons présenté Digger à notre client, la totalité de
                                        ces demandes ont été pris en compte dans le temps imparti et de ce fait le
                                        projet Digger est donc une réussite.</p>
                                    <h5 class="modal-text-title">Ma contribution au sein du projet</h5>
                                    <ul>
                                        <li>Developpement de la partie front-end</li>
                                        <li>Gestion et analyse sur la base de donnée orienté graph</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <h5 class="text-center modal-text-title">Découvrez les compétences
                                                utilisées</h5>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-auto">
                                                <button class="btn btn-primary"
                                                        onclick="toggleSkill('filterCommunication')"
                                                        data-dismiss="modal" data-toggle="modal"
                                                        data-target=".communication">
                                                    Communication
                                                </button>
                                            </div>

                                            <div class="col-auto">
                                                <button class="btn btn-primary"
                                                        onclick="toggleSkill('filterAutonomy')"
                                                        data-dismiss="modal" data-toggle="modal"
                                                        data-target=".autonomy">
                                                    Autonomie
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
