<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="experience">
        {% include experience.html %}
      </section>
      <section id="comp">
        {% include comp.html %}
      </section>
      <section id="realisations">
        {% include realisations.html %}
      </section>
      <section id="contacts">
        {% include contacts.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
